/*低电量车辆详细信息*/

.batter-info {
    width: 95%;
    height: 95%;
    margin: 20px 25px;
    padding: 30px;
    background-color: #fff;
    box-sizing: border-box;
}

.search-top span {
    position: relative;
    display: inline-block;
    margin-left: 15px;
    font-size: 14px;
}

.search-top span input {
    width: 300px;
    height: 30px;
    padding-left: 15px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    box-sizing: border-box;
}

input[list=confirms] {
    padding-right: 10px;
}

.unfold i {
    vertical-align: middle;
    background: url(../images/箭头-蓝色.png);
}

.unfold {
    color: #319cff;
}

.unfold:hover {
    cursor: pointer;
}

.search-bottom {
    width: 100%;
    height: 60px;
    padding-top: 25px;
    margin-bottom: 25px;
    box-sizing: border-box;
}

.search-bottom button {
    width: 60px;
    height: 30px;
    line-height: 30px;
    color: #6b6b6b;
    border: 1px solid #d9d9d9;
    background-color: #fff;
}

.output {
    float: left;
}

.set {
    float: right;
}

.i-set {
    background: url(../images/工具-齿轮.png) no-repeat;
}

.search-bottom button:hover {
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.search-bottom button:focus {
    box-shadow: 0 0 0 4px rgba(248, 248, 248, 0.5);
}


/*列表详细信息*/

.table {
    font-size: 14px;
    font-family: 'Microsoft Yahei';
}

tbody td {
    color: #6d6d6d;
}

.table tbody a {
    color: #1890ff;
}

.table tbody a:hover {
    text-decoration: underline;
}

.low {
    color: #f5222d !important;
}

.station {
    color: #f5222d !important;
}

.order {
    background: url(../images/排序.png) no-repeat;
}