/* 车辆列表详细信息--表单--搜索栏 */

.search-top {
    margin-left: 15px;
    font-size: 14px;
}

.i-blue-bottom {
    vertical-align: middle;
    background: url(../images/箭头-蓝色.png);
}

.i-set {
    vertical-align: middle;
    background: url(../images/工具-齿轮.png) no-repeat;
}

.order {
	right: 10px;
	top: 50%;
	margin-top: -6px;
    background: url(../images/排序.png) no-repeat;
}


/* 删除按钮 */
#deleteBus {
    display: none;
}

/* 遮蔽层 */   
#mask {
    position: fixed; 
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 800px;
    z-index: 999;
    opacity: .5;
    background: #000 none no-repeat scroll 0% 0%;
}

#mask img {
    position: fixed;
    top: 50%;
    left: 50%;
}

#newBus {
    position: fixed;
    top: 5px;
    left: 20%;
    padding-top: 10px;
    width: 60%;
    display: none;
    z-index: 9999;
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
}

.close {
    position: fixed;
    top: 20px;
    right: 23%;
}

/* 分页按钮 */
.index-page {
    background-color: #007bff;
    color: #fff;
}