
/* 百度地图 */

.BMap_cpyCtrl {
    display: none;
}

.anchorBL {
    display: none;
}

.iw_poi_title {
    color: #CC5522;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding-right: 13px;
    white-space: nowrap
}

.iw_poi_content {
    font: 12px arial, sans-serif;
    overflow: visible;
    padding-top: 4px;
    white-space: -moz-pre-wrap;
    word-wrap: break-word
}


/*地图容器*/

.map-container {
    position: relative;
    width: 100%;
    height: 650px;
    padding: 25px 30px;
    box-sizing: border-box;
}


/*地图搜索*/

.map-search {
    position: absolute;
    top: 50px;
    left: 60px;
    width: 70%;
}

h3 {
    display: inline-block;
    color: #000;
}


/* 车辆详细信息 */

.map-detail {
    position: absolute;
    top: 100px;
    left: 60px;
    width: 235px;
    height: 250px;
    margin-top: 20px;
    background-color: #fff;
}

.map-detail-today {
    height: 80px;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
}

.map-detail-content {
    color: #767676;
}

.map-detail-content li {
    height: 35px;
    line-height: 35px;
}

.car-current {
    font-size: 14px;
    color: #BCBCBC;
}


/* 公交车小图标 */

.position-right {
    top: 4px;
    left: 5px;
}

.position-left {
    top: 4px;
    left: -5px;
}


/* 电量小图标 */

.i-good-car {
    background: url(../images/公交车.png) no-repeat;
}

.i-middle-car {
    background: url(../images/公交车-黄色.png) no-repeat;
}

.i-low-car {
    background: url(../images/公交车-红色.png) no-repeat;
}