{% extends "../public/main.html" %}

{% block css %}
<link rel="stylesheet" href="/stylesheets/carlist.css">
{% endblock %}

{% block nav %}
<nav class="current-page">
    <p>{{title}}</p>
    <h3>{{title}}</h3>
</nav>
{% endblock %}


<!--车辆标题-->
{% block content %}
<form>
     <div class="w-75 form-inline">
        <div class="w-50 form-group">
            <label for="carNum">车辆自编号:</label>
            <input type="text" class="w-75 form-control form-control-sm ml-2" name="carNum" id="carNum" placeholder="请输入车辆自编号">
        </div>
        <button type="submit" class="btn btn-primary btn-sm ml-4">查 询</button>
        <button type="submit" class="btn btn-outline-secondary btn-sm ml-2">重 置</button>
        <button type="submit" class="btn btn-link btn-sm ml-2"><span class="caret">展开</span> <i class="icon i-blue-bottom ml-1"></i></button>
    </div>
    <div class="search-bottom mt-4 px-3 row">
        <button type="submit" class="btn btn-outline-secondary btn-sm col-1">导出</button>
        <div class="col-10"></div>
        <button type="submit" class="btn btn-outline-secondary btn-sm col-1"><i class="icon i-set"></i>设置</button>
    </div>
</form>

<div class="mt-4">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>车辆自编号</th>
                <th>车辆型号</th>
                <th>线路<i class="icon order"></i></th>
                <th>车牌号</th>
                <th>车辆启用时间<i class="icon order"></i></th>
                <th>剩余电量<i class="icon order"></i></th>
                <th>状态</th>
                <th>理论续航里程</th>
                <th>当日行驶里程</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="../html/车辆详情.html">CL-507</a></td>
                <td>万象-K 786
                </td>
                <td>5路</td>
                <td>浙A 83B29</td>
                <td>2018/01/01</td>
                <td>30%</td>
                <td>启动</td>
                <td>662公里</td>
                <td>654公里</td>
                <td><a href="../html/车辆详情.html">充电记录</a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

