{% extends "../public/main-index.html" %}

{% block html %}
<!DOCTYPE html>
<html lang="en">
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/stylesheets/index.css">
{% endblock %}

{% block body %}
  	<div class="tags">
	    <div class="tag">电动车总数
	        <a href="#">
	            <i>
	                <div class="windowShow">
	                电动车说明
	                <div></div>
	                </div>
	            </i>
	        </a>
	        <p>{{ ownBusCount | formatNum }}</p>
	    </div>
	    <div class="tag">出车总数
	        <a href="#">
	            <i>
	                <div class="windowShow">
	                出车数说明
	                <div></div>
	            </div>
	            </i>
	        </a>
	        <p>{{ outBusCount | formatNum }}</p>
	    </div>
	    <div class="tag">监控车辆
	        <a href="#">
	            <i>
	                <div class="windowShow">
	                监控说明
	                <div></div>
	            </div>
	            </i>
	        </a>
	        <p>{{ spyBusCount | formatNum }}</p>
	    </div>
	</div>

    <div class="content">
        <table class="table table-hover table-striped">
            <thead class="font-normal">
                <tr>
                    <th>公司</th>
                    <th>车辆总数</th>
                    <th>监控车辆</th>
                    <th>监控车辆占比</th>
                    <th>出车总数</th>
                    <th>出车总数占比</th>
                </tr>
            </thead>
            <tbody>
            	{% for index in data %}
                <tr>
                    <td>{{ index.name }}</td>
                    <td>{{ index.own_buses }}</td>
                    <td>{{ index.spy_buses }}</td>
                    <td>{{ (index.spy_buses/index.own_buses) | getPersent }}%</td>
                    <td>{{ index.out_buses }}</td>
                    <td>{{ (index.out_buses/index.own_buses) | getPersent }}%</td>
                </tr>
				{% endfor %}
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
	console.log({{ data |dump |safe}})
	</script>
{% endblock %}

