<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  {% block css %}
  {% endblock %}
</head>
<body>
	<div id="container">
		<!-- 引入侧边栏页面 -->
		{% include "./slider.html" %}

		<!-- 右侧视图 -->
		<article>
			<!-- 引入头部 -->
			{% include "./header.html" %}

			<!-- 引入主体页面 -->
			<article>
				{% block body %}
		  		{% endblock %}
			</article>
			<!-- 底部说明 -->
			{% include "./footer.html" %}
		</article>
  	</div>
</body>
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/base.js"></script>
</html>