<!-- 跳转导航 -->
<nav aria-label="Page navigation">
    <ul class="pagination pagination-sm justify-content-end">
        <li class="page-item">
            <a class="page-link rounded" href="#" aria-label="Previous">
                <span aria-hidden="true"><img src="../images/箭头-左.png"></span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item "><a class="page-link rounded" href="#">1</a></li>
        <li class="page-item"><a class="page-link rounded" href="#">2</a></li>
        <li class="page-item"><a class="page-link rounded" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link rounded" href="#" aria-label="Next">
                <span aria-hidden="true"><img src="../images/箭头-右.png"></span>
                <span class="sr-only">Next</span>
            </a>
        </li>
        <li class="page-item">
            <select class="custom-select custom-select-sm" id="navigetorSelect">
                <option selected>10条/页</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </li>
        <li class="page-item form-inline row">
            <span class="col-3 ml-1">跳至</span><input type="number" class="col-4 form-control form-control-sm text-center" value="1"><span class="col-4">页</span>
        </li>
    </ul>
</nav>
