
<!-- 侧边栏 -->
<aside>
    <!-- logo -->
    <header id="logo">
        <img src="/images/logo.png" alt="">
        <div id="brand">电量监控</div>
    </header>
    <!-- 选择栏 -->
    <article>
        <ul class="list-unstyled" id="aside-parent-item">
            <li>
                <div class="items">
                    <i class="icon i-battery"></i>
                    <a href="javascript:;" class="item-title">电量监控</a>
                    <i class="icon i-right i-bottom"></i>
                </div>
                <ul class="aside-child-items list-unstyled">
                    <li>
                        <a href="/" class="item-title child-item">首页</a>
                    </li>
                </ul>
            </li>
            <li>
                <div class="items">
                    <i class="icon i-map"></i>
                    <a href="javascript:;" class="item-title">地图分布</a>
                    <i class="icon i-right i-bottom"></i>
                </div>
                <ul class="aside-child-items list-unstyled">
                    <li>
                        <a href="/map" class="item-title child-item">地图</a>
                    </li>
                </ul>
            </li>
            <li>
                <div class="items">
                    <i class="icon i-car"></i>
                    <a href="javascript:;" class="item-title">车辆监控</a>
                    <i class="icon i-right i-bottom"></i>
                </div>
                <ul class="aside-child-items list-unstyled">
                    <li>
                        <a href="/carlist" class="item-title child-item">车辆列表</a>
                    </li>
                    <li>
                        <a href="/lowpowerlist" class="item-title child-item">低电量监控</a>
                    </li>
                </ul>
            </li>
            <li>
                <div class="items">
                    <i class="icon i-compute"></i>
                    <a href="javascript:;" class="item-title">统计分析</a>
                    <i class="icon i-right i-bottom"></i>
                </div>
                <ul class="aside-child-items list-unstyled">
                    <li>
                        <a href="/report" class="item-title child-item">报表下载</a>
                    </li>
                </ul>
            </li>
        </ul>
    </article>
</aside>
       